*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
body{
    background-color: #5C5D72;
}
#login-adm{
    display: none;
  
}
#login-usuario{
    display: none;
}
#admCadastro{
    display: none;
}
.titleformlist{
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
}
.formLista{
    display:flex;
    justify-content: space-around;

}
.title{
    text-align: center;
}
.button{
    
}
.slider{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    
    
}
.slider ul {
    display: flex;
    padding: 0;
    width: 320%;
    animation: cambio 15s infinite alternate linear;
}
.slider li{
    width: 100%;
    margin-left: 10px;
    list-style: none; 
}
.slider img{
    width: 100%;  
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

